/chess_game/build/CMakeFiles/3.16.3/CompilerIdC/a.out
/chess_game/build/CMakeFiles/executable.dir/build.make
/chess_game/build/CMakeFiles/executable.dir/C.includecache
/chess_game/build/CMakeFiles/executable.dir/cmake_clean.cmake
/chess_game/build/CMakeFiles/cmake.check_cache
/chess_game/build/cmake_install.cmake
/chess_game/build/CMakeCache.txt
/chess_game/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
/chess_game/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
/chess_game/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
/chess_game/build/CMakeFiles/CMakeDirectoryInformation.cmake
/chess_game/build/CMakeFiles/CMakeOutput.log
/chess_game/build/CMakeFiles/3.16.3/CMakeSystem.cmake
/chess_game/build/CMakeFiles/executable.dir/depend.internal
/chess_game/build/CMakeFiles/executable.dir/depend.make
/chess_game/build/CMakeFiles/executable.dir/DependInfo.cmake
/chess_game/build/executable
/chess_game/build/CMakeFiles/executable.dir/flags.make
/chess_game/build/CMakeFiles/executable.dir/src/generate_field.c.o
/chess_game/build/CMakeFiles/executable.dir/link.txt
/chess_game/build/CMakeFiles/executable.dir/src/main.c.o
/chess_game/build/Makefile
/chess_game/build/CMakeFiles/Makefile.cmake
/chess_game/build/CMakeFiles/Makefile2
/chess_game/build/CMakeFiles/executable.dir/src/menu.c.o
/chess_game/build/CMakeFiles/executable.dir/src/place_pieces.c.o
/chess_game/build/CMakeFiles/executable.dir/src/print_field.c.o
/chess_game/build/CMakeFiles/executable.dir/src/reading_from_file.c.o
/chess_game/build/CMakeFiles/executable.dir/progress.make
/chess_game/build/CMakeFiles/progress.marks
/chess_game/build/CMakeFiles/executable.dir/src/read_input.c.o
/.vscode/settings.json
/chess_game/build/CMakeFiles/TargetDirectories.txt
/chess_game/build/CMakeFiles/executable.dir/src/test.c.o
/chess_game/build/CMakeFiles/executable.dir/src/validate_move.c.o
